/* html,body{
    height: 100%;
} */

.home{
    background: #5c2828;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #5c2828, #dd1818);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #5c2828, #dd1818); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* css for login form */

.loginForm{
    background: transparent;  /* fallback for old browsers */
    display: flex;
    height: 100%;
    min-height: 98vh;
    /* border: 1px solid red; */
    display: flex;
    margin: auto;
    /* margin: 2em; */
    padding: 1vh;
}

.loginForm form{
    background-color: white;
    box-shadow: 5px 5px 10px 5px rgb(34, 34, 34);
    /* padding: 2em; */
    width: 90%;
    height:100%;
    margin: auto;
    /* transform: translateY(10vh); */
    justify-content: center;
    border-radius: 25px;
}

.loginForm img{
    height: auto;
    width: 100%;
}

.loginForm .mdl-grid{
    margin: auto;
}

.loginForm .input-fields{
    /* border: 1px solid red; */
    padding: 1em 3em;
}

.loginForm .button:hover{
    background-color: tomato;
    color: white;
}

.loginForm .button{
    color: tomato;
    background: black;
}

.homeicon{
    width: 100%;
    height: auto;
}

.red-text{
    color: white;
    background-color: red;
    font-weight:bolder ;
    font-size: 0.7em;
    box-shadow: 3px 3px 5px black;
}

.red-text .msg{
    padding: 2em;
}

.nav-links{
    color:black;
    padding: 1em 0;
    text-decoration: none;
    margin:10px 15px;
    text-align: center;
    text-transform: uppercase;
}

.nav-links:hover{
    color: white;
    background: rgb(255, 95, 122);
}

.weather_property{
    display: block;
    margin:0.2em;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 3px black;
}

.mdl-cell .mdl-cell--4-col{
    margin: 8px 0;
}

.property_heading{
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Oxygen Mono', monospace;
    font-weight: bolder;
}

.dashboard{
    width: 100vw;
    padding-top: 2vh;
    height: 100%;
    min-height: 98vh;
}
/* homepage controls css */
.homePage{
    background-color: transparent;
    padding: 1vh;
    height: 100%;
    width: 100%;
    min-height: 98vh;
}

.homePage .mdl-grid{
    margin:0px;
    padding: 0px;
}


.demo-tabs{
    background-color: white;
    /* min-width:375px; */
    padding: 2em 0em 2em 2em;
    /* width: 100%;
    max-width:70vw; */
    /* max-width:400px; */
    margin: auto;
    border-radius: 25px;
}

.appliance{
    background: #333945; 
    color: white;
    padding:1.25em;
    /* margin: 2em 0; */
    width: 75%;
    margin: 2em auto;
}

.off{
    /* background-color: #ED213A !important; */
    /* box-shadow: 3px 3px 3px 2px black; */
    color: black;
    animation: divGlowing 1300ms infinite;
}

@keyframes divGlowing{
    0% { background-color: #FFF222; box-shadow: 0 0 10px #aaaaaa; }
    50% { background-color: #FFF222; box-shadow: 0 0 30px #000000; }
    100% { background-color: #FFF222; box-shadow: 0 0 10px #aaaaaa; }
}

.off .button{
    background: black !important;
    /* animation: glowing 1300ms infinite; */
}

@keyframes glowing {
    0% { background-color: #000000; box-shadow: 0 0 10px #ED213A; }
    50% { background-color: #000000; box-shadow: 0 0 30px red; }
    100% { background-color: #000000; box-shadow: 0 0 10px #ED213A; }
}

.on{
    background-color: black !important;
    box-shadow: 3px 3px 3px 2px #FAC42F;
    color: white;
}

.appliance img{
    height: 65px;
    width: auto;
    display: flex;
    justify-content: center;
}

.appliance .iconImg{
    font-size: 65px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.usageReport{
    min-height: 94vh;
    padding: 3vh;
    width:100vw;
    background: #C9D6FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.usageReport .rooms{
    width: 100%;
}

/* info chart */

.welcome_greet{
    margin: auto;
    text-align: center;
    background: black;
    color: white;
    width: 75%;
    padding: 2em;
    font-weight: bolder;
}

.welcome_greet p{
    font-size: 1.5em;
}



/* article css */
.article{
    margin-top:2vh;
    padding:2vh;
    /* padding-left: 1vh; */
    min-height: 50vh;
    background-color: white;
    box-shadow: 3px 3px 5px 3px black;
}

.article img{
    width: 100%;
    height: auto;
}
.mdl-layout__drawer .drawer .is-visible{
    background-color: white !important;
}